project_id              = "project-1a809777-d5c7-4e2e-bbf"
region                  = "us-central1"
zone                    = "us-central1-a"
network                 = "default"
subnetwork              = "default"
compute_service_account = "616273014601-compute@developer.gserviceaccount.com"

# Reemplazar por la IP pública administrativa real, por ejemplo "200.10.20.30/32"
admin_source_ranges       = ["TU_IP_PUBLICA/32"]
arcgis_admin_source_ranges = ["TU_IP_PUBLICA/32"]

arcgis_vm_name       = "arcgis-enterprise-lab"
arcgis_machine_type  = "e2-standard-4"
arcgis_disk_size_gb  = 200

cloudsql_instance_name        = "arcgis-egdb-pg"
cloudsql_database_version     = "POSTGRES_15"
cloudsql_tier                 = "db-g1-small"
cloudsql_disk_size_gb         = 20
cloudsql_public_ip_enabled    = false
cloudsql_deletion_protection  = true
cloudsql_admin_user           = "arcgis-egdb-pg"
cloudsql_admin_password       = "CAMBIAR_PASSWORD_SEGURO"

egdb_database_name = "egdb"

create_windows_loader          = true
windows_loader_vm_name         = "arcgis-pro-loader"
windows_loader_machine_type    = "e2-standard-2"
windows_loader_disk_size_gb    = 100
